<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='recover_password.css') }}">
</head>
<body>
  <div class="container">
    <h1>Reset Password</h1>
    <p>Welcome, {{ email }}! Please enter your new password.</p>
    <form method="post" action="">
      <div class="form-group">
        <label for="password">New Password:</label>
        <input type="new_password" name="new_password" id="new_password" placeholder="Please enter your new password" required>
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
</body>
</html>
