<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about_us.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>About Us</title>
  </head>

  <body>
    <nav class="navbar">
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Gulag Logo"
        />
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </nav>

    <div class="background">
      <div class="navbar_background"></div>

      <div class="main">
        <!------------- Top ------------>
        <div class="general-container">
          <div class="left">
            <img
              src="{{ url_for('static', filename='images/about_us_group.png') }}"
              alt="Group_image"
              class="image_group"
            />
          </div>
          <div class="right">
            <div class="about_us">
              <h1 class="about_us_text">
                About <br />
                Us.
              </h1>
            </div>
            <div class="general_info">
              <p>
                Together, we work to achieve our common goals and <br />
                success, always committed to delivering outstanding
              </p>
              <p>
                Together, we work to achieve our common goals and <br />
                possible results and pushing the boundaries of <br />
                what’s possible, delivering outstanding.
              </p>
            </div>
          </div>
        </div>

        <!------------- Bottom ------------>
        <div class="personal-container">
          <!-- Card 1 -->
          <div class="card">
            <img
              src="{{ url_for('static', filename='images/personal_image_1.png') }}"
              alt="User Steps"
            />

            <div class="info">
              <p class="name">Châu Minh Quân</p>
              <p class="mssv">MSSV: 104240214</p>
              <p class="e-mail">
                E-mail: <br />
                104240214@student.vgu.edu.vn
              </p>
              <p class="introduce">" "</p>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="card">
            <img
              src="{{ url_for('static', filename='images/personal_image_2.png') }}"
              alt="User Steps"
            />

            <div class="info">
              <p class="name">Hồng Nguyên Phúc</p>
              <p class="mssv">MSSV: 104240581</p>
              <p class="e-mail">
                E-mail: <br />
                104240581@student.vgu.edu.vn
              </p>
              <p class="introduce">
                " Chào ae, tôi là Sinh viên năm 1 CSE. Tôi thích lập trình và
                yêu đời. Tôi thích lập trình và yêu đời.Tôi thích lập trình và
                yêu đời.Tôi thích lập trình và yêu đời.Tôi thích lập trình và
                yêu đời "
              </p>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="card">
            <img
              src="{{ url_for('static', filename='images/personal_image_3.png') }}"
              alt="User Steps"
            />

            <div class="info">
              <p class="name">Hồ Nguyễn Phú</p>
              <p class="mssv">MSSV: 104240073</p>
              <p class="e-mail">
                E-mail: <br />
                104240073@student.vgu.edu.vn
              </p>
              <p class="introduce">
                " Chào ae, tôi là Sinh viên năm 1 CSE. Tôi thích lập trình và
                yêu đời. Tôi thích lập trình và yêu đời.Tôi thích lập trình và
                yêu đời.Tôi thích lập trình và yêu đời.Tôi thích lập trình và
                yêu đời "
              </p>
            </div>
          </div>

          <!-- Card 4 -->
          <div class="card">
            <img
              src="{{ url_for('static', filename='images/personal_image_1.png') }}"
              alt="User Steps"
            />

            <div class="info">
              <p class="name">Cao Tuệ Anh</p>
              <p class="mssv">MSSV: 104240192</p>
              <p class="e-mail">
                E-mail: <br />
                104240192@student.vgu.edu.vn
              </p>
              <p class="introduce">
                " Chào ae, tôi là Sinh viên năm 1 CSE. Tôi thích lập trình và
                yêu đời. Tôi thích lập trình và yêu đời.Tôi thích lập trình và
                yêu đời.Tôi thích lập trình và yêu đời.Tôi thích lập trình và
                yêu đời "
              </p>
            </div>
          </div>

          <!-- Card 5 -->
          <div class="card">
            <img
              src="{{ url_for('static', filename='images/personal_image_5.png') }}"
              alt="User Steps"
            />

            <div class="info">
              <p class="name">Phạm Trọng Quý</p>
              <p class="mssv">MSSV: 104240232</p>
              <p class="e-mail">
                E-mail: <br />
                104240232@student.vgu.edu.vn
              </p>
              <p class="introduce">
                " Chào ae, tôi là Sinh viên năm 1 CSE. Tôi thích lập trình và
                yêu đời. Tôi thích lập trình và yêu đời.Tôi thích lập trình và
                yêu đời.Tôi thích lập trình và yêu đời.Tôi thích lập trình và
                yêu đời "
              </p>
            </div>
          </div>
          <!-- ///// -->
        </div>
      </div>
    </div>
  </body>
</html>
