{% extends "home/layout.html" %} {% block title %} Home {% endblock %} {% block
head %} {{ super() }}
<!-- Link to the CSS Home page -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/homepage.css') }}"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Joan&display=swap"
  rel="stylesheet"
/>
{% endblock %} {% block content %}

<!-- Main content of the about us page -->
<div class="main">
  <a href="{{ url_for('home.set_goal') }}" class="setgoal-container"
    >Set goal</a
  >

  <button class="red-button">Start running</button>

  <a href="{{ url_for('dashboard.map') }}" class="statistic-container"
    >Statistic</a
  >
  <!--need to change url to dashboard-->
</div>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
