<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <title>{% block title %}My Site{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    {% endblock %}
  </head>

  <body>
    <!-- Background wrapper and main content -->
    <div class="background">
      <div class="navbar_background">
        <!-- Navbar -->
        <nav class="navbar">
          <div class="logo">
            <img
              src="{{ url_for('static', filename='images/logo.png') }}"
              alt="Logo"
            />
          </div>
          <ul class="nav-links">
            <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
            <li><a href="{{ url_for('home.about') }}">About Us</a></li>
            <li><a href="{{ url_for('home.profile') }}">Profile</a></li>
          </ul>
        </nav>
      </div>
      <div class="main_background">
        {% block content %}
        <!-- Main content goes here -->
        {% endblock %}
      </div>
    </div>

    {% block scripts %}
    <!-- place for JS scripts -->
    {% endblock %}
  </body>
</html>
