<!DOCTYPE html> 
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />

  <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Joan&family=Jomhuria&family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

  <div class="profile_container">
    <h1 class="profile_heading">Welcome back, {{ username }}!</h1>

    <form method="POST" class="profile_stats">
        <div class="stat">
          <span class="stat-label">Weight (kg)</span>
          <input class="stat-value" type="number" step="0.1" name="weight" value="{{ personal_info.weight or '' }}" required>
        </div>
        <div class="stat">
          <span class="stat-label">Height (m)</span>
          <input class="stat-value" type="number" step="0.01" name="height" value="{{ personal_info.height or '' }}" required>
        </div>
        <div class="stat">
          <span class="stat-label">Age</span>
          <input class="stat-value" type="number" name="age" value="{{ personal_info.age or '' }}" required>
        </div>
      
        <button type="submit" class="btn">Save Changes</button>
      </form>
  </div>

</body>
</html>
