{% extends "home/layout.html" %} {% block title %} Home {% endblock %} {% block
head %} {{ super() }}
<!-- Link to the CSS Home page -->
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/homepage.css') }}"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Joan&display=swap"
    rel="stylesheet"
/>
{% endblock %} {% block content %}
            
<!-- Main content of the about us page -->
    <div class="main">
        <div class="overlap-wrapper">
          <div class="setgoal-container">
            <p>Set goal</p>
            <a href="{{ url_for('home.homepage') }}" class="exit-button">
              <img src="{{ url_for('static', filename='images/close_icon.png') }}" alt="Close" class="exit-icon" />
              </a>
            </div>
          <form method="POST" class="profile_stats">
            <div class="goal-container">
              <input
                type="number"
                id="goal"
                class="goal-input"
                value="0"
                min="0"
                max="999"
                />
              <span class="goal-unit">KM</span>
            </div>
            <button class="savebtn" type="submit">Save</button>
          </form>
        </div>
    </div>
{% endblock %}