{% extends "home/layout.html" %} {% block title %} Home {% endblock %} {% block
head %} {{ super() }}
<!-- Link to the CSS set_goal page -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/set_goal.css') }}"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Joan&display=swap"
  rel="stylesheet"
/>
{% endblock %} {% block content %}

<!-- Main content of the about us page -->
<div class="main">
  <div class="overlap-wrapper">
    <div class="setgoal-container"><p>Set goal</p></div>

    <div class="goal-container">
      <input
        type="number"
        id="goal"
        class="goal-input"
        value="0"
        min="0"
        max="999"
      />
      <!-- input to backend: using id-->
      <span class="goal-unit">KM</span>
    </div>

    <!-- <form action="" method="post"></form> -->
    <div class="checkbox-container">
      <label for="run-checkbox">Only for this run</label>
      <input type="checkbox" id="run-checkbox" />
    </div>
    <button class="savebtn" type="submit">Save</button>
  </div>
</div>
{% endblock %}
