{% extends "home/layout.html" %} {% block title %} Dashboard {% endblock %} {% block head %} {{ super() }}

<!-- Link to the CSS about_us page -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/congrats.css') }}" />
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<style>
    #map {
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %} {%block content %}

<!-- Main content of the dashboard page -->
<div class="main">
    <!-- LEFT -->
    <div class="map">
        <div class="map_placeholder">
            <div id="map">
                <a href="https://www.maptiler.com" style="position: absolute; left: 10px; bottom: 10px; z-index: 999"
                    ><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"
                /></a>
            </div>
        </div>
    </div>

    <!-- CENTER -->
    <div class="info">
        <!-- Card 1: Total Steps -->
        <div class="card">
            <div class="card_icon">
                <img src="{{ url_for('static', filename='images/Steps.png') }}" alt="User Steps" />
            </div>
            <div class="card_info">
                <p class="value"><span id="step">0</span></p>
                <p class="label">Total Steps</p>
            </div>
        </div>

        <!-- Card 2: Total Calories -->
        <div class="card">
            <div class="card_icon">
                <img src="{{ url_for('static', filename='images/Calories.png') }}" alt="User Calories" />
            </div>
            <div class="card_info">
                <p class="value"><span id="calorie">0</span> Kcal</p>
                <p class="label">Total Calories</p>
            </div>
        </div>

        <!-- Card 3: Distance -->
        <div class="card">
            <div class="card_icon">
                <img src="{{ url_for('static', filename='images/Distance.png') }}" alt="User Distance" />
            </div>
            <div class="card_info">
                <p class="value"><span id="total_distance">0</span> Km</p>
                <p class="label">Distance</p>
            </div>
        </div>

        <!-- Card 4: Total Time -->
        <div class="card">
            <div class="card_icon">
                <img src="{{ url_for('static', filename='images/Clock.png') }}" alt="User Clock" />
            </div>
            <div class="card_info">
                <p class="value"><span id="total_time">0</span></p>
                <p class="label">Total Time</p>
            </div>
        </div>

        <!-- Card 5: Avg Pace -->
        <div class="card">
            <div class="card_icon">
                <img src="{{ url_for('static', filename='images/Avg_Pace.png') }}" alt="User Avg_Pace" />
            </div>
            <div class="card_info">
                <p class="value"><span id="pace">0</span> /Km</p>
                <p class="label">Avg Pace</p>
            </div>
        </div>
    </div>

    <!-- RIGHT -->
    <div class="profile_container">
        <div class="profile_container_information">
            <!-- RIGHT / profile title -->
            <h2 class="profile-title">My Profile</h2>

            <!-- RIGHT / info -->
            <div class="profile_info">
                <img src="{{ url_for('static', filename='images/user1.png') }}" alt="Avatar User" />
                <h3>
                    <div class="profile_name">Let's Go</div>
                </h3>
                <p class="profile_username">@{{ username }}</p>

                <!-- RIGHT / Profile info / Chi so co the -->
                <div class="profile_stats">
                    <div class="stat">
                        <span class="stat-value">{{ personal_stat.weight }} kg</span>
                        <span class="stat-label">Weight</span>
                    </div>
                    <div class="stat">
                        <span class="stat-value">{{ personal_stat.height }} cm</span>
                        <span class="stat-label">Height</span>
                    </div>
                    <div class="stat">
                        <span class="stat-value">{{ personal_stat.age }}</span>
                        <span class="stat-label">Age</span>
                    </div>
                </div>
                <div class="current_datetime">
                    <div class="date_day" id="date_day"></div>
                    <div class="date_month_year" id="date_month_year"></div>
                    <div class="digital_clock" id="digital_clock"></div>
                </div>
                <div id="message" style="display: none; color: green; font-weight: bold">Bạn đã xong...</div>
            </div>
        </div>
        <div class="current_datetime">
            <div class="date_day" id="date_day"></div>
            <div class="date_month_year" id="date_month_year"></div>
            <div class="digital_clock" id="digital_clock"></div>
        </div>
    </div>

    <div class="message" id="success_message" style="display: none;">
        <i class="fas fa-star fa2"></i> <!-- Replaced the quote-left with a star -->
        <p class="congrats_text1">Congrats!</p>
        <p class="congrats_text2">You have escaped from Gulag.</p>
        <button class="continue_text" onclick="quitMessage()">Tap to continue</button>
    </div>

    <div class="message" id="fail_message" style="display: none;">
        <i class="fas fa-star fa2"></i> <!-- Replaced the quote-left with a star -->
        <p class="congrats_text1">Congrats!</p>
        <p class="congrats_text2">You have escaped from Gulag.</p>
        <button class="continue_text" onclick="quitMessage()">Tap to continue</button>
    </div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<!-- Map script -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- Download JS stuff -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>

<!-- Script for Snackbar -->
<script>
    let timeoutId;
    let haveDone = false;

    function showSuccess(){
        const popup = document.getElementById('success_message');
        popup.style.display = 'block';

        timeoutId = setTimeout(() => {
            popup.style.display = 'none';
        }, 15000);
    }

    function showFail(){
        const popup = document.getElementById('fail_message');
        popup.style.display = 'block';

        timeoutId = setTimeout(() => {
            popup.style.display = 'none';
        }, 15000);
    }

    function quitMessage(){
        clearTimeout(timeoutId);
        document.getElementById('success_message').style.display = 'none';
        document.getElementById('fail_message').style.display = 'none';
    }
</script>

<!-- Script for map (Must be put here) and SocketIO -->
<script>let socket_server;</script>
<script>
    localStorage.removeItem("locations", "myGeoJSON");
    var saved_locations = JSON.parse(localStorage.getItem("locations") || "[]");
    var myGeoJSON = {
        type: "FeatureCollection",
        features: [
            {
                type: "Feature",
                properties: {
                    name: "Running Route",
                    type: "Loop Run",
                },
                geometry: {
                    type: "LineString",
                    coordinates: saved_locations,
                },
            },
        ],
    };
    localStorage.setItem("myGeoJSON", JSON.stringify(myGeoJSON));

    current_pos = [11.107583, 106.613529];

    const map = L.map("map").setView(current_pos, 20	); //starting position

    L.tileLayer(`https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key={{ map_key }}`, {
        //style URL
        tileSize: 512,
        zoomOffset: -1,
        minZoom: 1,
        attribution:
            '\u003ca href="https://www.maptiler.com/copyright/" target="_blank"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href="https://www.openstreetmap.org/copyright" target="_blank"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e',
        crossOrigin: true,
    }).addTo(map);

    var marker = L.marker(current_pos).addTo(map);
    marker.bindPopup("<b> Your current position </b><br> Keep running!");

    // myGeoJSON = JSON.parse(localStorage.getItem("myGeoJSON"));
    L.geoJSON(myGeoJSON).addTo(map);

    localStorage.setItem("myGeoJSON", JSON.stringify(myGeoJSON));


    $(document).ready(function () {
        // Connect to SocketIO
        socket_server = io.connect("{{ socketio_url }}");

        // Socket connect
        socket_server.on("connect", function () {
            socket_server.emit("joined", {});
        });

        // Socket update web on interval
        socket_server.on("update_kinematic", function (server_data) {
            // {"calorie": calorie, "step": step, "total_distance": total_distance, "total_time": total_time, "avg_velocity": avg_velocity}

            // Add to <span> tags
            document.getElementById("calorie").textContent = server_data.calorie;
            document.getElementById("step").textContent = server_data.step;
            document.getElementById("total_distance").textContent = server_data.total_distance;
            document.getElementById("total_time").textContent = server_data.total_time;
            document.getElementById("pace").textContent = server_data.pace;
        });

        // Get data every interval
        socket_server.on("send_server_data", function (server_data) {
            // {'time_start': time_start, 'latitude': latitude, 'longitude': longitude}

            // Get data from server_data
            var location = [
                server_data.longitude, // longitude here must be put first
                server_data.latitude,
            ];
            current_pos = location;
            current_pos = [current_pos[1], current_pos[0]];

            // Add the current location and save all
            saved_locations = JSON.parse(localStorage.getItem("locations") || "[]");
            saved_locations.push(location);
            localStorage.setItem("locations", JSON.stringify(saved_locations));

            // Save it into myGeoJSON
            myGeoJSON = JSON.parse(localStorage.getItem("myGeoJSON"));
            myGeoJSON.features[0].geometry.coordinates = saved_locations;
            localStorage.setItem("myGeoJSON", JSON.stringify(myGeoJSON));

            map.setView(current_pos, 20);

            // Remove old marker and add a new one
            if (map.hasLayer(marker)) {
                map.removeLayer(marker);
            }
            marker = L.marker(current_pos).addTo(map);
            marker.bindPopup("<b> Your current position </b><br> Keep running!");

            L.geoJSON(myGeoJSON).addTo(map);

            // SocketIO events to update info
            socket_server.emit("interval_signal_to_server", {
                time_start: server_data.time_start,
            });

            // Check condition
            socket_server.on("finish_running", function (goal_status) {
                if(!haveDone){
                    if(goal_status.message == "success"){
                        showSuccess();
                        haveDone = true;
                    }
                    else{
                        showFail();
                        haveDone = true;
                    }
                }
            });
        });
    });

    function updateDateTime() {
        const now = new Date();

        // Formatter for Vietnam time (Asia/Ho_Chi_Minh)
        const formatterDate = new Intl.DateTimeFormat("en-US", {
            timeZone: "Asia/Ho_Chi_Minh",
            day: "2-digit",
            month: "long",
            year: "numeric",
        });

        const formatterTime = new Intl.DateTimeFormat("en-US", {
            timeZone: "Asia/Ho_Chi_Minh",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
            hour12: false,
        });

        // Format date and time
        const dateParts = formatterDate.formatToParts(now);
        const timeParts = formatterTime.formatToParts(now);

        const day = dateParts.find((p) => p.type === "day").value;
        const month = dateParts.find((p) => p.type === "month").value;
        const year = dateParts.find((p) => p.type === "year").value;

        const hour = timeParts.find((p) => p.type === "hour").value;
        const minute = timeParts.find((p) => p.type === "minute").value;
        const second = timeParts.find((p) => p.type === "second").value;

        document.getElementById("date_day").textContent = day;
        document.getElementById("date_month_year").textContent = `${month} ${year}`;
        document.getElementById("digital_clock").textContent = `${hour}:${minute}:${second}`;
    }

    updateDateTime();
    setInterval(updateDateTime, 1000);
</script>
{% endblock %}
