.login-page {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login-page .div {
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    width: 1440px;
    height: 900px;
    position: relative;
}

.login-page .overlap {
    position: absolute;
    width: 846px;
    height: 675px;
    top: 786px;
    left: 298px;
}

.login-page .bot {
    position: absolute;
    width: 846px;
    height: 646px;
    top: 29px;
    left: 0;
    background-color: #202020;
    border-radius: 423px/323px;
    filter: blur(60px);
}

.login-page .group {
    position: absolute;
    width: 183px;
    height: 93px;
    top: 0;
    left: 331px;
}

.login-page .overlap-group {
    position: absolute;
    width: 181px;
    height: 62px;
    top: 0;
    left: 0;
}

.login-page .element-avatars {
    top: 12px;
    left: 0;
    background-image: url(./img/3d-avatar-1.png);
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
}

.login-page .element-d-avatars {
    top: 4px;
    left: 32px;
    background-image: url(./img/3d-avatar-13.png);
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
}

.login-page .element-avatars-2 {
    top: 0;
    left: 67px;
    background-image: url(./img/3d-avatar-21.png);
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
}

.login-page .element-avatars-3 {
    top: 4px;
    left: 100px;
    background-image: url(./img/3d-avatar-24.png);
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
}

.login-page .element-avatars-4 {
    top: 12px;
    left: 131px;
    background-image: url(./img/3d-avatar-10.png);
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
}

.login-page .we-made-it {
    position: absolute;
    height: 19px;
    top: 74px;
    left: 49px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.login-page .text-wrapper {
    color: #949494;
}

.login-page .span {
    color: #ffffff;
}

.login-page .text-wrapper-2 {
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
}

.login-page .login-container {
    position: absolute;
    width: 325px;
    height: 445px;
    top: 227px;
    left: 557px;
}

.login-page .overlap-2 {
    position: relative;
    height: 445px;
    border-radius: 40px;
}

.login-page .form-container {
    position: absolute;
    width: 325px;
    height: 445px;
    top: 0;
    left: 0;
    border-radius: 40px;
    background: linear-gradient(
        180deg,
        rgb(106.92, 36.55, 144.81) 0%,
        rgb(47.06, 47.06, 47.06) 55.14%,
        rgb(28.24, 28.24, 28.24) 100%
    );
}

.login-page .rect {
    position: relative;
    width: 320px;
    height: 440px;
    top: 3px;
    left: 3px;
    background-color: #1c1c1c;
    border-radius: 40px;
    opacity: 0.7;
}

.login-page .input {
    position: absolute;
    width: 222px;
    height: 41px;
    top: 148px;
    left: 52px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #cccccc;
}

.login-page .div-placeholder {
    position: relative;
    height: 19px;
    top: 10px;
    border: none;
    background: none;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    padding: 0;
    padding-left: 0;
}

.login-page .div-placeholder-wrapper {
    position: absolute;
    width: 222px;
    height: 41px;
    top: 208px;
    left: 52px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #cccccc;
}

.login-page .div-wrapper {
    position: relative;
    height: 19px;
    top: 10px;
}

.login-page .text {
    position: absolute;
    height: 19px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.login-page .login-button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 301px;
    left: 98px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid;
    border-color: #79747e;
}

.login-page .state-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 24px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.login-page .label-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--m3-label-large-font-family);
    font-weight: var(--m3-label-large-font-weight);
    color: #65558f;
    font-size: var(--m3-label-large-font-size);
    text-align: center;
    letter-spacing: var(--m3-label-large-letter-spacing);
    line-height: var(--m3-label-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-label-large-font-style);
}

:root {
    --m3-label-large-font-family: "Roboto", Helvetica;
    --m3-label-large-font-weight: 500;
    --m3-label-large-font-size: 14px;
    --m3-label-large-letter-spacing: 0.10000000149011612px;
    --m3-label-large-line-height: 20px;
    --m3-label-large-font-style: normal;
    --m3-schemes-primary: rgba(101, 85, 143, 1);
    --m3-schemes-outline: rgba(121, 116, 126, 1);
}

/*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-m3-mode="light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */

[data-m3-mode="light"] {
    --m3-schemes-primary: rgba(101, 85, 143, 1);
    --m3-schemes-outline: rgba(121, 116, 126, 1);
}

[data-m3-mode="light-high-contrast"] {
    --m3-schemes-primary: rgba(39, 23, 78, 1);
    --m3-schemes-outline: rgba(69, 65, 74, 1);
}

[data-m3-mode="light-medium-contrast"] {
    --m3-schemes-primary: rgba(73, 57, 113, 1);
    --m3-schemes-outline: rgba(97, 93, 103, 1);
}

[data-m3-mode="dark"] {
    --m3-schemes-primary: rgba(208, 188, 254, 1);
    --m3-schemes-outline: rgba(147, 143, 153, 1);
}

[data-m3-mode="dark-high-contrast"] {
    --m3-schemes-primary: rgba(255, 249, 255, 1);
    --m3-schemes-outline: rgba(206, 200, 212, 1);
}

[data-m3-mode="dark-medium-contrast"] {
    --m3-schemes-primary: rgba(211, 193, 255, 1);
    --m3-schemes-outline: rgba(166, 161, 171, 1);
}

[data-m3-mode="monochrome-LT"] {
    --m3-schemes-primary: rgba(0, 0, 0, 1);
    --m3-schemes-outline: rgba(119, 119, 119, 1);
}

[data-m3-mode="monochrome-DT"] {
    --m3-schemes-primary: rgba(255, 255, 255, 1);
    --m3-schemes-outline: rgba(145, 145, 145, 1);
}

[data-m3-mode="pink-LT"] {
    --m3-schemes-primary: rgba(138, 75, 104, 1);
    --m3-schemes-outline: rgba(130, 115, 120, 1);
}

[data-m3-mode="pink-DT"] {
    --m3-schemes-primary: rgba(254, 176, 209, 1);
    --m3-schemes-outline: rgba(157, 140, 146, 1);
}

[data-m3-mode="rose-LT"] {
    --m3-schemes-primary: rgba(143, 74, 86, 1);
    --m3-schemes-outline: rgba(132, 115, 116, 1);
}

[data-m3-mode="rose-DT"] {
    --m3-schemes-primary: rgba(255, 178, 189, 1);
    --m3-schemes-outline: rgba(159, 140, 142, 1);
}

[data-m3-mode="red-LT"] {
    --m3-schemes-primary: rgba(145, 75, 67, 1);
    --m3-schemes-outline: rgba(133, 115, 112, 1);
}

[data-m3-mode="red-DT"] {
    --m3-schemes-primary: rgba(255, 167, 155, 1);
    --m3-schemes-outline: rgba(160, 140, 138, 1);
}

[data-m3-mode="orange-LT"] {
    --m3-schemes-primary: rgba(141, 79, 40, 1);
    --m3-schemes-outline: rgba(133, 116, 107, 1);
}

[data-m3-mode="orange-DT"] {
    --m3-schemes-primary: rgba(255, 182, 140, 1);
    --m3-schemes-outline: rgba(127, 118, 103, 1);
}

[data-m3-mode="yellow-LT"] {
    --m3-schemes-primary: rgba(121, 90, 12, 1);
    --m3-schemes-outline: rgba(127, 118, 103, 1);
}

[data-m3-mode="yellow-DT"] {
    --m3-schemes-primary: rgba(233, 193, 108, 1);
    --m3-schemes-outline: rgba(153, 144, 128, 1);
}

[data-m3-mode="chartreuse-LT"] {
    --m3-schemes-primary: rgba(92, 100, 30, 1);
    --m3-schemes-outline: rgba(120, 120, 106, 1);
}

[data-m3-mode="chartreuse-DT"] {
    --m3-schemes-primary: rgba(195, 205, 124, 1);
    --m3-schemes-outline: rgba(145, 146, 130, 1);
}

[data-m3-mode="green-LT"] {
    --m3-schemes-primary: rgba(55, 106, 62, 1);
    --m3-schemes-outline: rgba(113, 121, 112, 1);
}

[data-m3-mode="green-DT"] {
    --m3-schemes-primary: rgba(156, 212, 159, 1);
    --m3-schemes-outline: rgba(145, 146, 130, 1);
}

[data-m3-mode="teal-LT"] {
    --m3-schemes-primary: rgba(0, 107, 96, 1);
    --m3-schemes-outline: rgba(111, 121, 118, 1);
}

[data-m3-mode="teal-DT"] {
    --m3-schemes-primary: rgba(130, 213, 199, 1);
    --m3-schemes-outline: rgba(136, 147, 143, 1);
}

[data-m3-mode="cyan-LT"] {
    --m3-schemes-primary: rgba(1, 104, 125, 1);
    --m3-schemes-outline: rgba(112, 120, 124, 1);
}

[data-m3-mode="cyan-DT"] {
    --m3-schemes-primary: rgba(134, 209, 234, 1);
    --m3-schemes-outline: rgba(138, 146, 149, 1);
}

[data-m3-mode="blue-LT"] {
    --m3-schemes-primary: rgba(72, 94, 146, 1);
    --m3-schemes-outline: rgba(117, 119, 128, 1);
}

[data-m3-mode="blue-DT"] {
    --m3-schemes-primary: rgba(176, 198, 255, 1);
    --m3-schemes-outline: rgba(143, 144, 154, 1);
}

[data-m3-mode="indigo-LT"] {
    --m3-schemes-primary: rgba(91, 89, 146, 1);
    --m3-schemes-outline: rgba(120, 118, 128, 1);
}

[data-m3-mode="indigo-DT"] {
    --m3-schemes-primary: rgba(197, 192, 255, 1);
    --m3-schemes-outline: rgba(145, 143, 154, 1);
}

[data-m3-mode="purple-LT"] {
    --m3-schemes-primary: rgba(107, 84, 141, 1);
    --m3-schemes-outline: rgba(122, 117, 127, 1);
}

[data-m3-mode="purple-DT"] {
    --m3-schemes-primary: rgba(214, 187, 251, 1);
    --m3-schemes-outline: rgba(149, 142, 153, 1);
}
