/* global for dashboard, user pages, etc. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden; /* Chặn cuộn ngang trên toàn bộ trang */
}

/* background of nav and main */
.background {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #8a0b16;
  z-index: -1; /* Để không che nội dung khác */
}

/* nav bar */
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 15.37%;
  background-color: #ffffff;
  align-items: center;
  z-index: 1000; /* Đảm bảo navbar hiển thị trên cùng */
  padding-left: 5%;
  overflow: hidden;
}

.navbar_background {
  display: flex;
  flex: 0 0 15.12%;
}

.main_background {
  flex: 1;
}

.logo img {
  height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 5vw;
  padding-left: 5%;
  font-family: "Inknut Antiqua";
  text-align: center;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #8a0b16;
  font-size: 48px;
}

.icon {
  margin-left: auto;
  padding-right: 20px;
}

.icon img {
  height: 10vh;
}

/* -------------------------------------------------------------------- */
/* Hover Animation for Nav-link */

.nav-links a {
  transition: color 0.3s ease-in-out;
  position: relative;
}

/* Tạo nền hình vuông ẩn dưới chữ */
.nav-links a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background-color: rgba(128, 0, 0, 0.2); /* Màu nền */
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Khi hover, nền mở rộng ra 100% */
.nav-links a:hover::before {
  width: 100%;
  height: 100%;
}
