/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: "Vollkorn", serif;
}

.container {
    display: flex;
    height: 100%;
    background: url("../images/background.png") no-repeat center center/cover;
}

.left-container {
    margin-right: 5%;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 60%;
    height: auto;
}

.right-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 2rem;
    border-radius: 8px;
    width: 112%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 1rem;
}

form h1 {
    color: white;
    font-family: "Garamond";
    text-align: center;
    margin-bottom: 8%;
    font-size: 2.5rem;
}

label {
    color: white;
    font-family: "Garamond";
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    font-family: "Garamond";
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
    color: #000;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    font-size: 1rem;
    color: white;
}

.links a {
    text-decoration: underline;
    color: white;
}

.btn {
    margin-top: 5%;
    width: 100%;
    padding: 0.3rem;
    border: none;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-family: "Garamond";
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 800px) {
    .logo {
        margin-top: 5%;
        width: 35%;
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        background: #911818;
        align-items: center;
        justify-content: center;
    }

    .left-container {
        margin-right: 0%;
        width: 100%;
        height: 20%;
        flex: 0 0 25%;
        border-right: none;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
    }

    .right-container {
        width: 100%;
        height: 100%;
        padding: 0rem;
        background: #911818;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 800px) and (max-height: 660px) {
    html,
    body {
        position: fixed;
        overflow: auto;
    }
    .logo {
        width: 35%;
        height: auto;
    }

    .container {
        height: 660px;
        background: #911818;
        align-items: center;
        justify-content: center;
    }

    form {
        width: 100%;
        max-width: 500px;
    }
}

@media (min-width: 800px) and (max-height: 565px) {
    html,
    body {
        overflow: auto;
        position: fixed;
    }

    .logo {
        width: 60%;
        height: auto;
    }

    .container {
        height: 565px;
        align-items: center;
        justify-content: center;
    }
}
