<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- ./static/css/style.css-->
    </head>

    <body>
        <ul class="nav">
            <li class="nav logo">
                <a href="#">
                    <img src="{{ url_for('static', filename='images/icon.png') }}" style="font-size: 50px;" alt="logo">
                </a>
            </li>
            <p class="nav_letter">Website of Phu Nguyen Ho (logged in). Welcome!</p>
            <div class="nav links">
                <li class="nav"><a href="/">Home</a></li>
                <li class="nav"><a href="">About</a></li>
                <li class="nav"><a href="">Contact</a></li>
            </div>
        </ul>
        
        <br></br>

        <h1>Introduction</h1>
        <p>This is <code>an AI model</code> showing whether Phu is in the picture or not!</p>
        
        <br></br>
        <h1>Technologies</h1>
        <ul>
            <li>CNN (Convolutional Neural Network)</li>
            <li>DeepSeek R1 model</li>
            <li>Python libraries:</li>
            <ul>
                <li><list_font>Pytorch</list_font>: for model building and inference</li>
                <li><list_font>Streamlit</list_font>: for Chatbot's GUI</li>
                <li><list_font>LangChain</list_font></li>
                <li><list_font>Flask</list_font></li>
                <li><list_font>SQLAlchemy</list_font></li>
            </ul>
            <li>PostgreSQL</li>
        </ul>

        <br></br>
        <h1>Link to the model</h1>
        <p>Click the link to get to my model! :3</p>
        <p>You can send me a picture and the model will classify whether I'm in it or not! :333</p>
        <a href="{{ url_for('something') }}">
            <button style="padding: 10px 20px; font-size: 16px; cursor: pointer;">My Chatbot!!!</button>
        </a>
        <a href="{{ url_for('logout') }}" style="margin-top: 200px;">
            <button style="padding: 10px 20px; font-size: 16px; cursor: pointer;">Logout!!!</button>
        </a>
    </body>
</html>